{# templates/get.jinja2 #}
    result = dict(comment=[], ret=None, result=True)

    get = await hub.tool.{{ function.hardcoded.service_name }}.session.request(
        ctx,
        method="{{ function.hardcoded.method }}",
        {%- if "uuid" in function.hardcoded.path %}
        path="{{ function.hardcoded.path }}".format(**{'uuid': resource_id}) if resource_id else "/{{ function.hardcoded.resource_name }}",
        {%- else %}
        path="{{ function.hardcoded.path }}".format(**{{ parameter.mapping.path|default({}) }}),
        {%- endif %}
        query_params={"name": name},
        data={},
        headers={"X-Avi-Tenant": "*"},
    )

    if not get["result"]:
        # Send empty result for not found
        if get["status"] == 404:
            result["comment"].append(f"Get '{name}' result is empty")
            result["result"] = False
            return result

        result["comment"].append(get["comment"])
        result["result"] = False
        return result

    # Case: Empty results
    if not get["ret"]:
        result["comment"].append(
            f"Get '{name}' result is empty"
        )
        return result

    {% if function.hardcoded.response_mappings %}
    if "results" in get["ret"].keys():
        if get["ret"]["count"] != 0:
            # Convert raw response into present format
            raw_resource = get["ret"]["results"][0]
            resource_id = get["ret"]["results"][0]["uuid"]
        else:
            return result
    else:
        # Convert raw response into present format
        raw_resource = get["ret"]

    resource_in_present_format = {
        "name": name,
        "resource_id": resource_id
    }
    resource_parameters = OrderedDict(
    {{ function.hardcoded.response_mappings|pprint|indent(12,true) }}
    )

    for parameter_raw, parameter_present in resource_parameters.items():
        if parameter_raw in raw_resource and raw_resource.get(parameter_raw):
            resource_in_present_format[parameter_present] = raw_resource.get(parameter_raw)

    result["ret"] = resource_in_present_format
    {% else %}
    if "results" in get["ret"].keys():
        if get["ret"]["count"] != 0:
            get["ret"]["resource_id"] = get["ret"]["results"][0]["uuid"]
            result["ret"] = get["ret"]
    else:
        get["ret"]["resource_id"] = resource_id
        result["ret"] = get["ret"]
    {% endif %}

    return result
